<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.ipad.gsd-automatisering.wisz"
    versionCode="10"
    version   = "3.0.0">



  <author>GSD-Automatisering E.Grunschel</author>
  <name>WISZ</name>

  <description>

  </description>

	<preference name="stay-in-webview" value="true" />
	<preference name="phonegap-version" value="2.1.0" />
	<preference name="target-device" value="handset" />

	<feature name="http://api.phonegap.com/1.0/contacts"/>
	<feature name="http://api.phonegap.com/1.0/file"/>
	<feature name="http://api.phonegap.com/1.0/media"/>
	<feature name="http://api.phonegap.com/1.0/network"/>
	<feature name="http://api.phonegap.com/1.0/notification"/>

	<icon src="icon.png" /> 
	<icon src="icons/ios/icon.png" gap:platform="ios" width="57" height="57" />
	<icon src="icons/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
	<icon src="icons/ios/icon_at_2x.png" gap:platform="ios" width="114" height="114" />
	<gap:splash src="loadingscreen.png" />
	
  <access origin="*" />
  <access origin="http://ipad.gsd-automatisering.com/" browserOnly="true" />


</widget>