<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.ipad.gsd-automatisering.wisz"
    versionCode="10"
    version   = "3.0.0">



  <author>GSD-Automatisering E.Grunschel</author>
  <name>WISZ Stimulansz</name>

  <description>
Met WiSZ Professional, het managementinformatiesysteem van Stimulansz, is het mogelijk om snel over actuele en accurate informatie te beschikken. WiSZ koppelt namelijk verschillende bronnen aan elkaar (bijvoorbeeld een uitkeringsysteem, financieel systeem en een personeelssysteem)en zet de informatie om in dezelfde ‘taal’. Vervolgens ontstaat er een logische samenhang en kunt u een eenvoudige vergelijking maken. Zo krijgt u één overzicht gebaseerd op de Balanced Score Card en kunt u analyseren en strategisch sturen. WiSZ maakt het mogelijk een aanzienlijk deel van de reguliere activiteiten van een gemeentelijk bedrijfsbureau te automatiseren.
  </description>

	<preference name="stay-in-webview" value="true" />
	<preference name="phonegap-version" value="2.1.0" />
	<preference name="target-device" value="handset" />

	<feature name="http://api.phonegap.com/1.0/contacts"/>
	<feature name="http://api.phonegap.com/1.0/file"/>
	<feature name="http://api.phonegap.com/1.0/media"/>
	<feature name="http://api.phonegap.com/1.0/network"/>
	<feature name="http://api.phonegap.com/1.0/notification"/>

	<icon src="icon.png" /> 
	<icon src="icons/ios/icon.png" gap:platform="ios" width="57" height="57" />
	<icon src="icons/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
	<icon src="icons/ios/icon_at_2x.png" gap:platform="ios" width="114" height="114" />
	<gap:splash src="loadingscreen.png" />
	
  <access origin="*" />
  <access origin="http://ipad.gsd-automatisering.com/" browserOnly="true" />


</widget>